@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
	font-family: 'Roboto Slab', serif;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1db954;
	border-radius: 10px;
}
